body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    color: black;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

#new-task-form {
    display: flex;
}


input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: pink;
    padding: 1rem;
    border-radius: 1rem;
    color:  palevioletred;
    font-size: 1.25;
}

#new-task-input::placeholder {
    color: pink;

} 
#new-task-submit{
    color:aqua;
    font-size: 1.25;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color:blue;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#task .task .content .text {
    display: flex;
    background-color: brown;
    color: pink;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;

}
.content div:hover {
    cursor: pointer;
    color:red;
}